<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/simple-sidebar.css" rel="stylesheet">
    <link href="../static/custom.css" rel="stylesheet">

  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="home.html">Leaf</a>
	  </li>
          <li>
            <a href="about.html">What is Leaf?</a>
          </li>
          <li>
            <a href="https://github.com/softdev-7-leaf/leaf">Our Repo</a>
          </li>
          <li>     
	    <a href="https://www.facebook.com/sjhgf?fref=ts">Contact Us</a> 
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Ribbon Menu -->
      <div id="page-content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">

	      <h1>
		Welcome, {{ username }}
		<br>
		Age: {{ age }}
		<br>
		Gender: {{ gender }}
	      </h1>

	      <div class="push"></div>
	      
	      <div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
		  <p class="navbar-text">Created by Tyler Wang, Chris Kim, David Liang, and Brian Guo.</p>
		  <a href="https://github.com/softdev-7-leaf/leaf" class="navbar-btn btn-success btn">https://github.com/softdev-7-leaf/leaf</a>
		</div>
	      </div>
	      <!-- break -->
	    </div>
	  </div>
	</div>
      </div>
      <!-- /#page-content-wrapper -->
      <div class="wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
              <a class="navbar-brand" href="home.html"><font color="green">Leaf</font></a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
		<li class="active"><a href="home.html">Home</a></li>
		<li><a href="about.html">About</a></li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search" method="POST">
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="Search high schools..." name= "searchbar">
		</div>
		<button class="btn btn-info">
		  Go!
		</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
		<li class="active"><a href="./register.html">Register <span class="sr-only">(current)</span></a></li>
		<li><a href="./login.html/">Log in </a></li>
              </ul>
	    </div><!--/.nav-collapse -->
	  </div><!--/.container -->
	</nav>

      </div>

      <!-- jQuery -->
      <script src="../js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="../js/bootstrap.min.js"></script>



  </body>

</html>
