<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup Page</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Signin CSS -->
    <link rel="stylesheet" href="../static/signin.css">
    
    <style>
      .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      }
      body{
      background-image: url("static/leaf_pattern.png");
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form class="form-signin" role="form" method="POST">
	<h1 class="form-signin-heading">Sign up</h1>
	<hr>
	The password must meet the requirements: The length must be greater than 4 and less than 20, and have at least one digit, one uppercase letter and one lowercase letter.
	<hr>
	<!-- Flashed messages -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<!-- {% for message in messages %} -->
	<div class="alert alert-info">
	  {{messages[0]}}
	</div>
	<!-- {% endfor %} -->
	{% endif %}
	{% endwith %}

	<!-- Username -->
	<input type="text" class="form-control" name="username" placeholder = "Username" autofocus>
	<br>

	<!-- Password -->
	<input type="password" class="form-control" name="password" placeholder = "Password">
	<br>

	<!-- Re-enter password -->
	<input type="password" class="form-control" name="password2" placeholder = "Re-enter Password">
	<br>

	<!-- Email address -->
	<input type="text" class="form-control" name="emailaddress" placeholder = "Email Address">
	<br>

	<!-- Gender -->
	<b> Gender: </b>
	<select id="genders" class="form-control" name="gender">
	  <option value = "male"> Male </option>
	  <option value = "female"> Female </option>
	</select>
	<br>
	
	<!-- Birthday -->
	<b> Birthday: </b>
	<br>
	<br>

	<!-- Month -->
	Month:
	<select id="months" class="form-control" name="month">
	  {% for ms in m %}
	  <option value={{ms}}> {{ms}} </option>
	  {% endfor %}
	</select>
	<br>
	
	<!-- Day -->
	Day:
	<select id="days" class="form-control" name="day">
	  {% for ds in d %}
	  <option value={{ds}}> {{ds}} </option>
	  {% endfor %}
	</select>
	<br>

	<!-- Year -->
	Year:
	<select id="years" class="form-control" name="year">
	  {% for ys in y %}
	  <option value={{ys}}> {{ys}} </option>
	  {% endfor %}
	</select>
	<br>
	<br>
	<br>

	<!-- Register button -->
	<button class="btn btn-lg btn-primary btn-block" type="submit" name="b" value="Register">Register</button>
	<br>

	<!-- Back to login button -->
	Go back to log in:
	<button class="btn btn-lg btn-default btn-block" type="submit" name="b" value="Login">Login</button>
      </form>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
